* {
    margin: 0;
    padding: 0;
}

.media-overlay-icon {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 15px;
    right: 15px;
    opacity: 0.75;
}

.ig-media-icon {
    top: 10px;
    right: 10px;
}

.media-preview {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(60, 68, 82);
    font-family: 'Rubik Regular', 'Open Sans', sans-serif;
    color: white;
    height: 100%;
}

#footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color: rgb(43, 48, 58);
    padding-top: 25px;
}

#wrap {
    min-height: 100%;
    margin-bottom: 75px;
}

#main {
    overflow: auto;
    padding-bottom: 180px;
}

a {
    color: white;
}

a:hover {
    color: #99ccff;
}

.build-media-preview-container {
    margin-top: 50px;
}

.modal-dialog {
    width: 80%;
    height: 80%;
}

.close-media-button {
    color: black;
    margin-bottom: 15px;
    background: none;
    border: none;
    outline: none;
    padding-top: 15px;
    padding-left: 15px;
}

@media (max-width: 768px) {

    .mobile-full {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .build-bullet-points-container {
        margin-left: 13px;
        margin-right: 13px;
    }

    .build-media-preview-container {
        margin-top: 25px;
    }

    .modal-dialog {
        width: 100%;
        height: 95vh;
        margin: 0px;
    }

    .modal-content {
        border-radius: 0px;
    }

    .media-modal-body {
        padding: 0px;
    }

}