{% extends 'videos/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="container">
        <h1>About</h1>
        <hr>
        <h4>What is Corsa Club?</h4>
        <p>Simply put, Corsa Club is a place to find badass cars and what's been posted about them on the web.  There's lots of stuff on various social media and car forums, but it's all scattered and takes effort to find.  We wanted to piece it all together, so that it's easier to give credit where it's due and to give you inspiration for your own ride.</p>
    </div>

{% endblock %}