{% extends 'videos/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-xs-6">
            <h3>By Car</h3>
            {% for car in cars %}
                <li><a href="{% url 'cars:car_detail' car.slug %}">{{ car.make }} {{ car.model }} {% if car.trim is not None %}{{ car.trim }}{% endif %} {% if car.generation is not None %}({{ car.generation }}){% endif %}</a></li>
            {% endfor %}
        </div>
        <!--
        <div class="col-xs-6">
            <h3>By Tuner</h3>
            {% for tuner in tuners %}
                <li><a href="{% url 'tuners:tuner_view' tuner.slug %}">{{ tuner.name }}</a></li>
            {% endfor %}
        </div>
        -->
        <div class="col-xs-6">
            <h3>By Category</h3>
            {% for purpose in purposes %}
                <li><a href="{% url 'cars:cars_by_purpose' purpose.slug %}">{{ purpose.name }}</a></li>
            {% endfor %}
        </div>
    </div>

{% endblock %}