<div class="col-xs-6 col-sm-4">
    <a href="{% url 'cars:build_view' slug=build.slug %}"><h3>{{ build.name }}</h3></a>
    {% include "cars/car_model_label.html" with build=build %}
    <br/>
    {% for purpose in build.purpose.all %}
        {% include "./purpose_label.html" with purpose=purpose %}
    {% endfor %}
    <br/>
    <br/>
    <ul>
    {% for bullet_point in build.buildbulletpoint_set.all %}
        <li>{{ bullet_point.bullet_point }}</li>
    {% endfor %}
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-8" style="margin-top: 50px;">
    {% for bm in build.build_media_preview %}
        <div class="col-md-4">
            {% include "cars/build_media.html" with bm=bm %}
        </div>
    {% endfor %}
</div>