<script type="text/javascript">
        function cleanupYT() {
            player.pauseVideo();
            player.cueVideoByUrl('');
        }

        function closeYT() {
            $("#youtubeModal").modal('hide');
            cleanupYT();
        }

        function cleanupIG() {
            $("#ig-media-container").html("");
        }

        function closeIG() {
            $("#instagramModal").modal('hide');
            cleanupIG();
        }
</script>

<div class="modal" tabindex="-1" role="dialog" id="youtubeModal" aria-labelledby="youtubeModalLabel">
    <div class="modal-dialog" role="document" id="yt-modal-dialog">
        <div class="modal-content">
            <div class="modal-body media-modal-body">
                <div><button class="fa fa-times fa-2x close-media-button" aria-hidden="true" onclick="closeYT();"></button></div>
                {% if request.user.is_staff %}
                    <p id="youtube-video-id" style="color: black;"></p>
                {% endif %}
                <div id="ytplayer-container">
                    <div id="ytplayer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="instagramModal" aria-labelledby="igModalLabel">
    <div class="modal-dialog" role="document" id="ig-modal-dialog">
        <div class="modal-content">
            <div class="modal-body media-modal-body">
                <div><button class="fa fa-times fa-2x close-media-button" aria-hidden="true" onclick="closeIG();"></button></div>
                {% if request.user.is_staff %}
                    <p id="instagram-remote-url" style="color: black;"></p>
                {% endif %}
                <div id="ig-media-container"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
              height: '300',
              width: '400'
        });
    }
</script>

<script type="text/javascript">
    function loadInstagramEmbed(instagramURL) {
        $("#ig-media-container").html("");
        $.ajax({
            url: "/builds/ig_media?url=" + instagramURL,
            method: 'GET'
        }).done(function(data) {
            var html = data.html;
            $("#ig-media-container").html(html);
            var width = data.width + "px";
            $("#ig-modal-dialog").css("width", width);
            instgrm.Embeds.process();
        });
        {% if request.user.is_staff %}
            $("#instagram-remote-url").html(instagramURL);
        {% endif %}
    }
    function updateYoutubePlayer(videoID) {
        player.cueVideoById(videoID);
        {% if request.user.is_staff %}
            $("#youtube-video-id").html(videoID);
        {% endif %}
    }
    $(document).ready(function() {
        $("#youtubeModal").on('shown.bs.modal', function() {
            var height = "" + $("#yt-modal-dialog").height() + "px";
            console.log(height);
            $("#ytplayer").css("height", height);
            $("#ytplayer").css("width", "100%");

            // bootstrap.js is causing padding-right to be 15px on mobile for some reason.  has something to do with body overflow but i'm too lazy to figure it out
            $("#youtubeModal").css("padding-right","0px");

            player.playVideo();
        });
        $("#youtubeModal").on('hide.bs.modal', function() {
            cleanupYT();
        });

        // bootstrap.js is causing padding-right to be 15px on mobile for some reason.  has something to do with body overflow but i'm too lazy to figure it out
        $("#instagramModal").on('shown.bs.modal', function() {
            $("#instagramModal").css("padding-right", "0px");
        });

        $("#instagramModal").on('hide.bs.modal', function() {
            cleanupIG();
        });
    });
</script>