{% extends 'videos/base.html' %}

{% block title %}{{ build.name }}{% endblock %}

{% block content %}

    <div class="container build-content-container">
        {% if request.user.is_staff %}
            <a href="{% url 'cars:add_build_media' slug=build.slug %}" style="position: absolute; top: 80px; right: 25px; padding-right: 30px; padding-top: 15px;">Add Media</a>
        {% endif %}
            <h1 style="margin-bottom: 20px;">{{build.name}}</h1>
            <div style="width: 100%; height: 1px; background-color: #96a2b4;"></div>
            <div style="width: 100%; height: 35px;"></div>
            <div class="col-md-4 build-content">
                {% if build.has_been_sold is True %}
                    <p><i>This car has been sold</i></p>
                    <br/>
                {% endif %}
                {% include "./car_model_label.html" with build=build %}
                <br/>
                {% for purpose in build.purpose.all %}
                    {% include "./purpose_label.html" with purpose=purpose %}
                {% endfor %}
                <br/>
                <br/>
                <ul class="build-bullet-points-container">
                {% for bullet_point in build.bullet_points_ordered %}
                    <li>{{ bullet_point.bullet_point }}</li>
                {% endfor %}
                </ul>
                <div class="build-description-container">
                    {% autoescape off %}{{ build.description_as_html }}{% endautoescape %}
                </div>
                <div style="width: 100%; margin-top: 50px;"></div>
                {% if build.ig_handle is not None %}
                    <p>
                        <i class="fa fa-instagram" aria-hidden="true"></i><a href="https://instagram.com/{{ build.ig_handle }}"> {{ build.ig_handle }}</a>
                    </p>
                {% endif %}
                {% if build.twitter_handle is not None %}
                    <p>
                        <i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/{{ build.twitter_handle }}"> {{ build.twitter_handle }}</a>
                    </p>
                {% endif %}
                {% if build.youtube_channel is not None %}
                    <p>
                        <i class="fa fa-youtube" aria-hidden="true"></i><a href="https://youtube.com/{{ build.youtube_channel }}"> {{ build.youtube_channel }}</a>
                    </p>
                {% endif %}
                <br/>
                {% if build.build_thread is not None %}
                    <p>
                        Build Thread: <a href="{{ build.build_thread }}">Link</a>
                    </p>
                {% endif %}
                <br/>
                {% if build.tuners.all %}
                    <p>Built & Tuned by:</p>
                    <ul>
                        {% for tuner in build.tuners.all %}
                            <li><a href="{% url 'tuners:tuner_view' slug=tuner.slug %}">{{ tuner.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                </ul>
            </div>
            <div class="col-md-8 build-media-list-container">
                {% for bm in build_media %}
                    <div class="col-md-6">
                        {% include "./build_media.html" with bm=bm %}
                    </div>
                {% endfor %}
            </div>
    </div>

    {% include "./build_media_modal.html" %}

    {% autoescape off %}{% endautoescape %}

{% endblock %}